<p id="status">{{ plugin_TiltCam_status }}</p>
<div>
	<label for="xgpio">GPIO-X-Axis:</label>
	<input name="xgpio" id="xgpio" type="number" min="1" max="26" data-bind="value: settings.plugins.TiltCam.xgpio"/>
</div>
<div>
	<label for="ygpio">GPIO-Y-Axis:</label>
	<input name="ygpio" id="ygpio" type="number" min="1" max="26" data-bind="value: settings.plugins.TiltCam.ygpio"/>
</div>
